<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador Tarefas</title>
</head>

<body>
    <h1>Gerenciar Contatos</h1>

    <form id="form-contato">
        <input type="hidden" id="contato-id">
        <input type="text" id="name" name="name" required>
        <input type="email" id="email" name="email">
        <input type="telefone" id="telefone" name="telefone" placeholder="Telefone">
        <button type="submit">Salvar</button>
    </form>
    <ul id="lista-contatos">
        <!-- Lista de contatos será preenchida aqui -->
</body>

</html>