<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador Tarefas</title>
    <script src="/static/script.js" defer></script> 
</head>

<body>
    <h1>Gerenciar Contatos</h1>

    <form id="form-contato">
        <input type="hidden" id="contato-id">
        <input type="text" id="nome" name="nome" required placeholder="Nome">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="text" id="telefone" name="telefone" placeholder="Telefone">
        <button type="submit">Salvar</button>
    </form>

    <ul id="listar-contatos"></ul> 
</body>

</html>
